.header-continar {
  height: 850px;
  position: relative;
  background-image: url("../../../images/ip.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 30px;
}
